ul(class="nav nav-justified")
	li(class="active")
		a(href="/") Home
	li
		a(href="/amigos") Amigos
	li
		a(href="/usuarios") Usuários
	li
		a(href="/contatos") Contato - Email
	li
		a(href="/") Logado [sair]